<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" class="me-2" viewBox="0 0 118 94" role="img">
                <title>Bootstrap</title>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvtxRhJJPQyDhEVbrUT9cUSLAPM4KBnocZIQ&amp;usqp=CAU"
                     jsaction="VQAsE" class="sFlh5c pT0Scc" alt="MyBank - Home" jsname="JuXqh"
                     style="max-width: 800px; width: 120px; height: 80px; margin: 0px;" data-iml="62817">
                <a> &emsp;&emsp;&emsp;&emsp;&ensp;<time id="currentTime"></time>
                </a>

            </svg>

            <script>
                var timeElement = document.getElementById('currentTime');
                setInterval(function () {
                    var currentTime = new Date();
                    timeElement.textContent = currentTime.toLocaleDateString() + " _ " + currentTime.toLocaleTimeString();
                }, 1000);
            </script>

            <h3 style="text-align: center">&emsp;&emsp;ИЗМЕНИТЬ ПАРОЛЬ УЧЕТНОЙ ЗАПИСИ&ensp;&#128073
                <button type="submit" class="btn"><a href="/change-password">&ensp;<img
                        src="https://ps.w.org/sg-security/assets/icon-256x256.gif?rev=2971855" jsaction="VQAsE"
                        class="sFlh5c pT0Scc iPVvYb" style="max-width: 75px; height: 75px; margin: 0px; width: 75px;"
                        alt="Security Optimizer – The All-In-One Protection Plugin – WordPress plugin |  WordPress.org"
                        jsname="kn3ccd">&ensp;</a></button>
            </h3>
            <br>

        </a>
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">

            <h3 style="text-align:center"
                th:text="'ВАШ ЛОГИН:&ensp;' + ${#authentication.getPrincipal.getEmail()} + '&emsp;&emsp;'"></h3>
            <a class="p-1 text-blue">
                <form th:action="@{/logout}" method="post">&#128073
                    <input type="submit" value="ВЫХОД">
                </form>
            </a>
        </nav>
    </div>
</div>